<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301405512636-u2psi0ufvs5ai2qgu4e0aas41r2qlha3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301405512636-u2psi0ufvs5ai2qgu4e0aas41r2qlha3</string>
	<key>API_KEY</key>
	<string>AIzaSyDD7q0IPGs58b-LxoiMiKv4Ym5DDqeG3dw</string>
	<key>GCM_SENDER_ID</key>
	<string>301405512636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AtemnkengFontem.FBU-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>fbu-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fbu-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301405512636:ios:d6590c64f370686c0fc1b9</string>
</dict>
</plist>